@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

body {
  background-color: rgba(255, 0, 0, 1);
  background-image: radial-gradient(
      at 0% 100%,
      rgba(255, 184, 122, 1) 0%,
      transparent 50%
    ),
    radial-gradient(at 83% 0%, rgba(31, 221, 255, 1) 0%, transparent 55%),
    radial-gradient(at 0% 0%, rgba(255, 133, 173, 1) 0%, transparent 50%),
    radial-gradient(at 28% 0%, rgba(255, 181, 138, 1) 0%, transparent 50%),
    radial-gradient(at 82% 100%, rgba(107, 102, 255, 0.79) 0%, transparent 68%),
    radial-gradient(at 79% 49%, rgba(223, 91, 230, 1) 0%, transparent 50%),
    radial-gradient(at 62% 41%, rgba(242, 187, 140, 1) 0%, transparent 86%),
    radial-gradient(at 0% 46%, rgba(255, 219, 222, 1) 0%, transparent 100%);
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
  padding: 30px;
  position: relative;
}

h1 {
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: 5px;
}
p,
span {
  margin: 5px 0;
  font-weight: 200;
  font-size: 20px;
}
h2 {
  margin-top: 5px;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 10px;
}
.div {
  min-width: 50%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(50px);
  padding: 10px;
  position: relative;
}
ul.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
ul.skill > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
ul.skill > div > li {
  width: 50%;
}
ul.contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
}
ul.contact > a > li {
  width: 50%;
}
ul.contact > a {
  text-decoration: solid black underline;
}
button {
  background-color: rgba(255, 255, 255, 0.2);
  border: solid black 1px;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 16px;
  }
  ul.skill > div > li {
    width: 100%;
  }
  .div {
    min-height: 80vh;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(255, 0, 0, 1);
    background-image: radial-gradient(
        at 0% 100%,
        rgb(151, 89, 35) 0%,
        rgba(19, 19, 19, 0) 50%
      ),
      radial-gradient(at 83% 0%, rgb(47, 186, 210) 0%, rgba(19, 19, 19, 0) 55%),
      radial-gradient(at 0% 0%, rgb(135, 26, 62) 0%, rgba(19, 19, 19, 0) 50%),
      radial-gradient(at 28% 0%, rgb(139, 72, 32) 0%, rgba(19, 19, 19, 0) 50%),
      radial-gradient(
        at 82% 100%,
        rgba(26, 22, 148, 0.79) 0%,
        rgba(19, 19, 19, 0) 68%
      ),
      radial-gradient(at 79% 49%, rgb(152, 51, 158) 0%, rgba(19, 19, 19, 0) 50%),
      radial-gradient(at 62% 41%, rgb(136, 87, 46) 0%, rgba(19, 19, 19, 0) 86%),
      radial-gradient(at 0% 46%, rgb(87, 23, 28) 0%, rgba(19, 19, 19, 0) 100%);
    color: rgb(255, 255, 255);
  }
  .div {
    background-color: rgba(46, 48, 49, 0.2);
  }
  button {
    background-color: rgba(46, 48, 49, 0.2);
    border-color: rgb(172, 163, 150);
    color: rgb(255, 255, 255);
  }
}
